.btn {
  display: inline-flex;
  padding: 16px 30px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;

  color: $color-default-white;

  background-color: $color-corduroy;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--secondary {
    background-color: $color-default-white;
    border: 1px solid $color-corduroy;
    color: $color-corduroy;

    @include vp-1279 {
      background-color: transparent;
      color: $color-default-white;
      border-color: $color-default-white;
    }
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
